{% extends "base.html" %}
{% block css %}
    <style>
        .list-wrapper{
            background-color: #ffffff;
            width:90%;
            padding:0 10% 0 10%;
            margin:40px auto 0 auto;
            display:flex;
            justify-content:center;
        }

        hr{
            width:40%;
            margin: 30px auto 30px auto;
        }
        .tool-list {

            flex-direction:column;
            justify-content: center;
            margin-right:5px;
        }

        .word-wrap,
        .tool-list > .word-wrap{
            width:auto;
            word-wrap:normal;
            text-align: center;
        }

        .tool-list > .img-wrap{
            width:auto;
            margin-top:20px;
            text-align: center;


        }
        .tool-list > .img-wrap> span{

            font-size: 50px;
            color:#23B9B9;
        }
    @media(max-width:767px){
        .list-wrapper{

            display:block;

        }
{#        .tool-list > .word-wrap{#}
{#            margin-bottom: 5px;#}
{#        }#}
        .tool-list > .img-wrap{
            width:auto;
            margin-top:30px;
            text-align: center;

        }
    }
    </style>
{% endblock %}
{% block inner %}
<hr>
    <div class="word-wrap">
    <h2 class="text-muted">HappyPatent</h2>
    <p class="text-muted">provides useful tools to help you manage your patent applications.</p>
    </div>

    <div class="list-wrapper">
    <div class="tool-list ">
        <div class="img-wrap">
        <span class="glyphicon glyphicon-calendar"></span>
        </div>
        <div class="word-wrap">
            <h3 class="text-muted">Calender</h3>
            <p class="text-muted">Add new tasks to your custom calender. Receive reminder for upcoming due dates.</p>
        </div>
    </div>

    <div class="tool-list">
        <div class="img-wrap">
        <span class="glyphicon glyphicon-file"></span>
        </div>
        <div class="word-wrap">
            <h3 class="text-muted">Form</h3>
            <p class="text-muted">Fill out a simple form to create a new client, patent, inventor, or agent.</p>
        </div>
    </div>

    <div class="tool-list">
       <div class="img-wrap">
        <span class="glyphicon glyphicon-list-alt"></span>
        </div>
        <div class="word-wrap">
            <h3 class="text-muted">List</h3>
            <p class="text-muted">View all the information in a detailed list.
                Update any detail any time.</p>
        </div>
    </div>
    </div>

    <hr>

{#</div>#}
{% endblock %}
