
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
MY_DOMAIN_NAME=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=X(AQFfjA/;}#GKRHI<@c)Zp$/.;1gjER,Kvr7KlqLIm$;)8s$c
DJANGO_ALLOWED_HOSTS=.example.com
DJANGO_DEBUG=

# Email Configure
GMAIL_USER=
GMAIL_PASSWORD=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True



