# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DOMAIN_NAME=example1.com,example2.com
DJANGO_ALLOWED_HOSTS=example1.com,example2.com
DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=admin
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=X(AQFfjA/;}#GKRHI<@c)Zp$/.;1gjER,Kvr7KlqLIm$;)8s$c

# Email Configure
GMAIL_USER=
GMAIL_PASSWORD=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

TIKA_VERSION=1.18
TIKA_SERVER_ENDPOINT=http://tika:9998/
TIKA_CLIENT_ONLY=True
