{% extends "base.html" %}
{% load static %}

{% block title %}Happypatent | {{ object.username }}{% endblock %}

{% block content_title %}Profile{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-4">
  <div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-black" style="background: url('{% static "img/photo1.png" %}') center center;">
        <h2 class="widget-user-username">{{ user.first_name }} {{ user.last_name }}</h2>
        <h4 class="widget-user-desc">{{ user.username }}</h4>
    </div>
    <div class="widget-user-image">
      <img class="img-circle" style="width: 95px; height:95px" src="{% if user.profile_pic %}{{ user.profile_pic.url }}{% else %}{% static "img/blank-profile.png" %}{% endif %}" alt="User Avatar">
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-md-12 border-right">
          <div class="description-block">
            <h4 class="description-header">Total Patents</h4>
            <span class="badge bg-red">{{ user.get_user_patents.count }}</span>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="description-block">
                <h5 class="description-header">Last Login</h5>
                <span class="badge bg-green">{{ user.last_login }}</span>
              </div>
              <!-- /.description-block -->
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="description-block">
                <h5 class="description-header">Joined</h5>
                <span class="badge bg-aqua">{{ user.date_joined }}</span>
              </div>
              <!-- /.description-block -->
          </div>
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.widget-user -->
</div>

<div class="col-md-8">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li class="{% block info_tab_active %}{% endblock %}"><a href="{% url 'users:detail' user.username %}">Profile</a></li>
      {% if request.user.username ==  user.username %}
      <li class="{% block update_tab_active %}{% endblock %}"><a href="{% url 'users:update' %}">Edit Profile</a></li>
      <li class="{% block email_tab_active %}{% endblock %}"><a href="{% url 'account_email' %}" >Manage My Email</a></li>
      <li class="{% block password_tab_active %}{% endblock %}"><a href="{% url 'account_change_password' %}">Change Password</a></li>
      {% endif %}
    </ul>
    <div class="tab-content">
      <div class="{% block info_content_active %}{% endblock %} tab-pane" id="info">
        {% block info %}
        {% endblock %}
      </div>
      {% if request.user.username ==  user.username %}
      <div class="{% block update_content_active %}{% endblock %} tab-pane" id="info">
        {% block update %}
        {% endblock %}
      </div>
      <div class="{% block email_content_active %}{% endblock %} tab-pane" id="email">
        {% block email %}
        {% endblock %}
      </div>
      <div class="{% block password_content_active %}{% endblock %} tab-pane" id="password">
        {% block password %}
        {% endblock %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock content %}

