{% extends "base.html" %}
{% load static %}
{% load user_agents %}

{% block content %}
<style>
.tooltip.top > .tooltip-inner {
    background-color: #ffffff;
    border-color: #3c8dbc;
    border-style: solid;
    border-width: 1px;
    color: #3c8dbc;
    max-width: 500px;
    font-size: 140%;
}
.tooltip.top > .tooltip-arrow {
    border-top-color:#3c8dbc;
    color: #3c8dbc;
}
hr{
    margin-top:10px;
    margin-bottom:5px;
}
#add-new-event{
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#new-event {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.external-event{
    width:45%;
    float:left;
    margin-right:4px;
}

.form-control:focus{
    border-color: #ccc;
}
.box{
    border-top-color:#2DA4A4;
    margin: 0 auto 20px auto;
    width: 83.333333%;
}
a.fc-day-number{
    color:#2BB4B4;
    font-weight:400;
}
.fc td.fc-widget-content,
.fc td.fc-widget-header{
    border-width:1px;
    border-style:solid;
    border-color:#ddd;
}
@media screen and (max-width:1100px){
    .external-event{
        width:90%;
    }
}
@media screen and (max-width: 767px) {
    .box {
        width: 91.666667%;
    }
    .external-event{
         width:45%;
    }
}
@media screen and (max-width:450px){
    .fc-toolbar.fc-header-toolbar{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
    }
    .fc-toolbar .fc-left{
        float:none;
    }
    .fc-toolbar .fc-right{
        float:none;
    }
    .fc-toolbar .fc-center{
        width:50%;
        margin:0 auto;
    }
    .fc .fc-toolbar > * > *{
        float:none;
    }
    .fc-toolbar h2{
        margin-top:10px;
        margin-bottom:0;
        font-size:24px;
    }
    a.fc-day-number{
        font-weight:300;
    }
    .fc button{
        height:initial;
    }
    .external-event{
         width:90%;
    }
}

</style>

{% if expire_events %}
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><span class="fa fa-warning"></span> Warning</h4>
      </div>
      <div class="modal-body">
        <h5>Please check the expire patents below:</h5>
        <div class="table-responsive">
            <table class="table no-margin">
            <thead>
              <tr>
                <th>Case ID</th>
                {% if request|is_pc %}
                <th>Control Item</th>
                <th>Control Date</th>
                {% endif %}
                <th>Deadline</th>
              </tr>
            </thead>
            <tbody>
              {% for ev in expire_events %}
              <tr>
                <td><a href="{{ ev.patent.get_absolute_url }}">{{ ev.patent.case_id }}</a></td>
                {% if request|is_pc %}
                <td>{{ ev.control_item_template }}</td>
                <td><span class="label label-warning">{{ ev.control_date }}</span></td>
                {% endif %}
                <td><span class="label label-danger">{{ ev.deadline }}</span></td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="box  calendar-box">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="box-body pad">
                <!-- THE CALENDAR -->
                <div id='calendar'></div>
            </div>
            {% if request|is_pc %}
                <hr/>
                <div class="row" id="calendar-event-bar">
                    <div class="col-sm-7">
                    <div class="box-header">
                        <h5 class="box-title">Drag Task to Month</h5>
                    </div>
                    <div class="box-body">
                        <div id="external-events">
                        </div>
                    </div>
                </div>
                    <div class="col-sm-5">
                    <div class="box-header ">
                        <h3 class="box-title">Create Task</h3>
                    </div>
                    <div class="box-body">
                     {% csrf_token %}
                    <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                        <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                        <ul class="fc-color-picker" id="color-chooser">
                            <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                            <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                            <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                            <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                            <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                            <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                        </ul>
                    </div>
                     <div class="input-group">
                        <input id="new-event" type="text" class="form-control" maxlength="50" placeholder="Task Title">
                        <div class="input-group-btn">
                            <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
                        </div>                <!-- /btn-group -->
                     </div>
                </div>
                </div>
                </div>
            {% endif %}
        </div>
    </div>
 </div>

<div class="box ">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="box-header with-border">
                <h3 class="box-title">Activities</h3>
            </div>
            <div class="box-body">
                <div class="overlay" id="timeline-loading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <ul class="timeline">
                </ul>
                <button class="btn btn-primary btn-xs" id="timeline-loadmore">Load More</button>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    <!-- JS for fullcalender -->
    $('#calendar').fullCalendar({
        header: {
            left:'listWeek,month',
            center: 'title',
            right: 'prev,next'
        },
        aspectRatio: function(){
            var screenWidth=window.innerWidth;
            if(screenWidth < 420){
               console.log('1234');
               return 0.56;
            }
            else
               console.log('ghilll');
               return 1.35;
        },
        views: {
            listWeek: { buttonText: 'Week' },
            month: { buttonText: 'Month' }
        },
        defaultView: 'month',
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        droppable: true,
        displayEventTime : false,
        events: function(start, end, timezone, callback) {
            $.ajax({
                url: '{% url "users:calendar_event" %}',
                dataType: 'json',
                data: {
                    start: start.unix(),
                    end: end.unix()
                },
                success: function(params) {
                    let events = [];
                    params.forEach(function(entry){
                        let ev = $('#calendar').fullCalendar('clientEvents', entry["id"]);
                        if (ev.length > 0){
                            return true;
                        }
                        if("case_id" in entry){
                            let option = {
                                id: entry["id"],
                                title: entry["case_id"],
                                url: ("url" in entry)? entry.url : undefined,
                                editable: false,
                                allDay: true,
                                description: entry["description"],
                            };
                            let control_date_option = {
                                start: new Date(entry["control_date"]),
                                backgroundColor: "#f39c12", //yellow
                                borderColor: "#f39c12", //yellow
                            };
                            let deadline_option = {
                                start : new Date(entry["deadline"]),
                                backgroundColor: "#FF3333", //red
                                borderColor: "#FF3333", //red
                            };
                            events.push($.extend(true, control_date_option, option));
                            events.push($.extend(true, deadline_option, option));
                        }
                        else if("title" in entry){
                            let e = {
                                id: entry["id"],
                                title: entry["title"],
                                start: new Date(entry["start"]),
                                allDay: true,
                                backgroundColor: entry["backgroundColor"], //yellow
                                borderColor: entry["border-color"] //yellow
                            };
                            if("end" in entry){e.end=entry["end"]}
                            events.push(e);
                        }
                    });
                    callback(events);
                }
            });
        },
        dragRevertDuration: 0,
        drop: function (date, allDay) { // this function is called when something is dropped
            // retrieve the dropped element's stored Event Object
            var originalEventObject = $(this).data('eventObject');
            // we need to copy it, so that multiple events don't have a reference to the same object
            var copiedEventObject = $.extend({}, originalEventObject);
            // assign it the date that was reported
            copiedEventObject.start = date;
            copiedEventObject.allDay = allDay;
            copiedEventObject.backgroundColor = $(this).css("background-color");
            copiedEventObject.borderColor = $(this).css("border-color");
            if(originalEventObject === undefined){
                return false;
            }
            $.ajax({
                url: "{% url "users:calendar_event_create" %}",
                method: "POST",
                data: {
                    "title": originalEventObject.title,
                    "start": date._d.toUTCString(),
                    "backgroundColor": $(this).css("background-color"),
                    "border-color": $(this).css("border-color"),
                },
                dataType: "json",
                success: function(data){
                    copiedEventObject.id = data.id;
                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
                    // remove the element from the "Newly Created Events" list
                },
                error: function(data){
                    alert("Can't create new task. Something goes wrong.")
                }
            });
            $(this).remove();
        },
        viewRender: function(view, element){
            if (view.type == "month") {
                $("#calendar-event-bar").show();
            }
            else if (view.type == "listWeek"){
                $("#calendar-event-bar").hide();
            }
        },
        eventDragStop: function( event, jsEvent, ui, view ) {
            if(isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
                $('#calendar').fullCalendar('removeEvents', event._id);
                var ev = $("<div />");
                ev.css({"background-color": event.backgroundColor, "border-color": event.borderColor, "color": "#fff"}).addClass("external-event");
                ev.html(event.title);
                $('#external-events').prepend(ev);
                ini_events(ev);

                $.ajax({
                    url: "{% url "users:calendar_event_delete" %}",
                    method: "POST",
                    dataType: "json",
                    data: {"id": event.id},
                });
            }
        },
        eventDrop: function(event, delta, revertFunc, jsEvent, ui, view){
            var data = {"id": event.id, "start": event.start._d.toUTCString()};
            if (event._end !== null) {data["end"] = event.end._d.toUTCString()}
            $.ajax({
                url: "{% url "users:calendar_event_update" %}",
                method: "POST",
                dataType: "json",
                data: data,
            })
        },
        eventResize: function(event, delta, revertFunc, jsEvent, ui, view) {
            $.ajax({
                url: "{% url "users:calendar_event_update" %}",
                method: "POST",
                dataType: "json",
                data: {"id": event.id, "end": event.end._d.toUTCString()},
            })
        },
        eventRender: function(event, element, view) {
            if (view.type === "listWeek" && event.description!==undefined)
                $(element).find("a").after('<div class="pull-right">'+ event.description+'</div>');
        },
        eventAfterRender: function( event, element ){
            let title_html = "<h4><strong>" + event.title +"</strong></h4>";
            if(event.description!==undefined) title_html += "<p><small>"+ event.description +"</small></p>";
            $(element).tooltip({title:title_html, html: true, container: "body"});
        },
    });

    //Check if draggable event is out of calendar's border
    var isEventOverDiv = function(x, y) {
        var external_events = $( '#calendar' );
        var offset = external_events.offset();
        offset.right = external_events.width() + offset.left;
        offset.bottom = external_events.height() + offset.top;
        return x <= offset.left || x >= offset.right || y >= offset.bottom || y <= offset.top;
    };

    function ini_events(ele) {
        ele.each(function () {
            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
              title: $.trim($(this).text()) // use the element's text as the event title
            };
            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);

            // make the event draggable using jQuery UI
            $(this).draggable({
              zIndex: 1070,
              revert: true, // will cause the event to go back to its
              revertDuration: 0  //  original position after the drag
            });
        });
    }
    ini_events($('#external-events div.external-event'));
    /* ADDING EVENTS */
    var currColor = "#3c8dbc";
    //Color chooser button
    var colorChooser = $("#color-chooser-btn");
    $("#color-chooser > li > a").click(function (e) {
        e.preventDefault();
        //Save color
        currColor = $(this).css("color");
        //Add color effect to button
        $('#add-new-event').css({"background-color": currColor, "border-color": currColor});
    });
    $("#add-new-event").click(function (e) {
        e.preventDefault();
        //Get value and make sure it is not null
        var val = $("#new-event").val();
        if (val.length == 0) {
            return;
        }
        //Create events
        var event = $("<div />");
        event.css({"word-wrap": "break-word", "background-color": currColor, "border-color": currColor, "color": "#fff"}).addClass("external-event");
        event.html(val);
        $('#external-events').prepend(event);
        //Add draggable funtionality
        ini_events(event);
        //Remove event from text input
        $("#new-event").val("");
    });
    <!-- End fullcalendar -->

    <!--TimeLine-->
    // Compare two dates, return true if they are at the same day
    // a1 and a2 should be string format
    function isSameDay(a1, a2){
        let b = new Date(a1);
        let c = new Date(a2);
        return (b.getDate() === c.getDate()) &&
               (b.getMonth() === c.getMonth())&&
               (b.getYear() === c.getYear());
    }

    var timeline_start = null;
    var timeline_end = null;

{#    function bg_color_setter(data){#}
{#        let color = ["bg-blue", "bg-red", "bg-aqua", "bg-yellow", "bg-purple",#}
{#                 "bg-green", "bg-gray"];#}
{#        if(data.object_type == null || )#}
{#        return color[Math.floor(Math.random()*color.length)]#}
{#    }#}

    var timeline_icon = {
        "patent": "fa-file-text-o bg-blue",
        "agent": "fa-suitcase bg-red",
        "employee": "fa-group bg-green",
        "client": "fa-gg-circle bg-purple",
        "post": "glyphicon glyphicon-bullhorn bg-aqua",
        "comment": "glyphicon glyphicon-comment bg-yellow",
    };

    function createTimeLineLabel(dt){
        dt = new Date(dt);
        let date = dt.toDateString().split(" ");
        let li = $('<li/>', {
            class: "time-label"
        }).append($('<span/>', {
            class: "bg-teal",
            text:date[2]+ " " + date[1] + ", "+date[3]
        }));
        return li
    }

    function createTimeLineItem(data){
        var username = "{{ request.user.username }}";
        let _li = $('<li/>', {
            timestamp: data.timestamp,
            id: data.id===undefined ? "" : data.id,
        });
        let _icon = data.object_type === null? "fa-pencil bg-gray" : timeline_icon[data.object_type] || "fa-pencil bg-grey";

        let icon = $('<i/>', {
            class: "fa " + _icon
        });
        let item = $('<div/>', {
            class: "timeline-item"
        });
        let time = $('<span/>', {
            class: "time"
        }).append(
            $('<i/>', {
                class: "fa fa-clock-o"
            })
        ).append(data.timesince);

        let header = $('<h5/>', {
            class: "timeline-header"
        }).append($('<a/>', {
            href: data.actor_url,
            text: data.actor === username ? "You" : data.actor,
        })).append(" "+ data.verb + " ").append($('<a/>', {
            href: data.object_url,
            text: data.object
        }));
        item = $(item).append(time).append(header);
        return $(_li).append(icon).append(item);
    }

    function appendTimeLineItem(st, ed, data){
        let first=null;
        let last=null;
        let cur_item;
        let start = st;
        let end = ed;
        $.each(data, function(index, av){
            let tp = av.timestamp;
            let item_ele = createTimeLineItem(av);
            if(index===0) first = av.timestamp;
            if(index===data.length-1) last = av.timestamp;
            if (start === null && end ===null){
                $('.timeline').append(createTimeLineLabel(av.timestamp)).append(item_ele);
                start = av.timestamp;
            }
            else if (start!==null && end===null){
                if(!isSameDay(start, tp)){
                    $('.timeline').append(createTimeLineLabel(av.timestamp));
                }
                $('.timeline').append(item_ele);
                start = av.timestamp;
            }
            else if(start===null && end!==null){
                if(!isSameDay(end, tp)){
                    $('.timeline').prepend(createTimeLineLabel(av.timestamp))
                }
                $('ul.timeline li:first').after(item_ele);
                cur_item = item_ele;
                start = av.timestamp;
            }
            else{
                if(!isSameDay(start, tp)){
                    let label = createTimeLineLabel(av.timestamp);
                    $(cur_item).after(label);
                    $(label).after(item_ele);
                }
                else{
                    $(cur_item).after(item_ele);
                }
                start = av.timestamp;
                cur_item = item_ele;
            }
        });
        if(st===null && ed===null){
            timeline_start = first;
            timeline_end = last;
        }
        else if(st===null && ed!==null){
            timeline_start = first;
        }
        else if(st!==null && ed===null){
            timeline_end = last;
        }
    }

    function sendTimeLine(st, ed){
        if (st===undefined) st = null;
        if (ed===undefined) ed = null;
        let send_data = {};
        if(st!==null){
            st = new Date(st);
            st.setTime(st.getTime() - 2000);
            send_data["start"] = st.getTime()/1000;
        }
        if(ed!==null){
            ed = new Date(ed);
            ed.setTime(ed.getTime() + 2000);
            send_data["end"] = ed.getTime()/1000;
        }
        $.ajax({
            url: "{% url "users:timeline" %}",
            dataType: "json",
            data: send_data,
            success: function(data){
                if(data.length===0){
                    if($.trim($("ul.timeline").html())=='')
                    {
                        let data = {
                            "actor_url": "#",
                            "actor": "First Join? Try something to create new activity.",
                            "object_url": "#",
                            "object": "",
                            "timesince": "Now",
                            "verb": "",
                            "id": "timeline-no-results"
                        };

                        $(".timeline").append(createTimeLineItem(data));
                    }
                }
                else{
                    appendTimeLineItem(st, ed, data);
                    $('#timeline-no-results').remove();
                }
            },
        });
    }

    function triggerTimeLine(){
        sendTimeLine();
        $("#timeline-loading").remove();
        setInterval(routineUpdateTimeLine, 10000);
    }

    function loadMoreTimeLine(){
        sendTimeLine(timeline_end, null);
    }

    function routineUpdateTimeLine(){
        sendTimeLine(null, timeline_start);
    }

    $('#timeline-loadmore').on("click", function(){
        loadMoreTimeLine();
    });

    // Start When page first loads
    triggerTimeLine();
    <!--End TimeLine-->

});

    // Open warning modal for expire patents when page is loaded
    $("#modal-default").modal();
</script>
{% endblock %}

