{% extends "base.html" %}
{% load static %}

{% block title %}Billboard{% endblock %}
{% block content_title %}Billboard{% endblock %}

{% block css %}
<style>
.post-row {
    padding:10px;
}
.post-box{
    padding:10px;
}
.box{
   border-top:none;
   margin: 0 auto 20px auto;
   width: 83.333333%;
    min-height:450px;
}
.box-body{
  padding: 10px 15px 10px 15px;
}
.blog-post-title {
  font-size: 26px;
  overflow-wrap:break-word;
  color:#2BB4B4;
  margin-bottom: 0;
  margin-top:0;
 }
.month-bar > .row{
    padding:10px;
}
.month-bar > h3
{
   color:#ddd8d8;
   font-size:33px;
   border-bottom:1px solid #f4f4f4;
   margin-top:0;
}
.month-bar > h3 >i{
    position:relative;
    top:15px;
    left:25px;
    background:white;
}
.month-bar >h3 >i>small{
    color:#ddd8d8;
}
.post-list-content{
    color:#444;
    margin:0 auto;
    border:1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.post-list-content:hover{
   border-color:#39CCCC;
}
.post-box>a:hover{
    position:relative;
    bottom:5px;
}
.credit-line{
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
  height:22.7px;
}
.credit-line > h5{
  margin-top:5px;
  margin-bottom:0;
  margin-right:5px;
}
.pager{
    margin: 0 auto 20px auto;
    width: 83.333333%;
}
.pager > span{
    position:relative;
    top:6px;
}
.pager > li.next{
    width:74px;
    height:32px;
}
@media screen and (max-width: 767px) {
    .box,
    .pager{
        width: 91.666667%;
    }
    .post-box{
    width:100%;
    }
}
</style>
{% endblock %}


{% block content %}

{% if object_list|length_is:'0' %}
<div class="box box-info">
            <div class="box-body">
                <h2>No post has been submitted yet.</h2>
                <p>Go to <a href="{% url "billboard:create" %}">Post Create</a> to create a new post.</p>
            </div>
        </div>
{% else %}
<div class="box">
<div class="post-row">
    {% for year_iterator in archive %}
            {% for month_iterator in year_iterator.values %}
                {% for month,posts in month_iterator.items %}
                    {% if posts %}
                        <div class="month-bar ">
                        {% for post in posts%}
                            {% if forloop.first %}
                                <h3><i>{{ post.update|date:"M"}} <small>{{ post.update|date:"Y"}}   </small></i></h3>
                                <div class="row">
                            {% endif %}
                            <div class="post-box col-md-4 col-sm-6">
                            <a href="{% url "billboard:detail" post.slug %}">
                                <section class="post-list-content">
                                    <div class="box-header">
                                        <h5 class="blog-post-title">{{ post.title }}</h5>
                                        <div class="credit-line">
                                        <h5>
                                        <small>{{ post.update }} by {{ post.author.first_name }} {{ post.author.last_name }}</small>
                                        </h5>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        {{ post.text|truncatewords:15|striptags }}
                                    </div>
                                </section>
                            </a>
                            </div>
                        {% endfor %}
                        </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
    {% endfor %}
</div>
</div>
<!-- Pager -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul class="pager">

                {% if page_obj.has_previous %}
                <li class="previous">
                    <a href="?page={{ page_obj.previous_page_number }}">&larr; Previous</a>
                </li>
            {% endif %}

                 <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

            {% if page_obj.has_next %}
                <li class="next">
                    <a href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}
