{% extends "base.html" %}
{% load static %}

{% block title %}Billboard{% endblock %}
{% block content_title %}Billboard{% endblock %}

{% block css %}
<style>

.box{
  border-top-color:#2DA4A4;;
}
.box-body,
.box-footer{
  padding: 10px 15px 10px 15px;
}
.blog-post-title {
  font-size: 40px;
  overflow-wrap:break-word;
  color:#2BB4B4;
 }
.box-body .col-sm-10{
 border-left: 1px solid #f4f4f5;
 border-right:1px solid #f4f4f5;
}
.box-header.with-border{
 padding: 15px 10px 10px 10px;
}
.box-header.with-border h5{
  margin-top:0;
  margin-bottom:0;
}
.credit-line{
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
  height:22.7px;
}
.credit-line > h5{
  margin-top:5px;
  margin-bottom:0;
  margin-right:5px;
}
.pager > span{
    position:relative;
    top:6px;
}
.pager > li.next{
    width:74px;
    height:32px;
}
</style>
{% endblock %}


{% block content %}

{% if object_list|length_is:'0' %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="box box-info">

            <div class="box-body">
                <h2>No post has been submitted yet.</h2>
                <p>Go to <a href="{% url "billboard:create" %}">Post Create</a> to create a new post.</p>
            </div>
        </div>
    </div>
</div>
{% else %}
{% for post in object_list %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="box ">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h5>
                            <a class="blog-post-title" href="{% url "billboard:detail" post.slug %}">{{ post.title }}</a>
                        </h5>
                        <div class="credit-line">
                            <h5>
                                <small>{{ post.update }} by <a href="{% url "users:detail" post.author.username %}"> {{ post.author.first_name }} {{ post.author.last_name }}</a></small>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        {{ post.text|truncatechars_html:200|safe }}
                    </div>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- Pager -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul class="pager">

                {% if page_obj.has_previous %}
                <li class="previous">
                    <a href="?page={{ page_obj.previous_page_number }}">&larr; Previous</a>
                </li>
            {% endif %}

                 <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

            {% if page_obj.has_next %}
                <li class="next">
                    <a href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}
