{% extends "base.html" %}

{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title text-blue">{{ object.agent_title }}</h3>
      <div class="pull-right">
          <a class="btn btn-warning" href="{% url "proposals:agent-update" object.agent_id %}" role="button">Update</a>
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-4">
                <h4>Agent's ID</h4>
                <p>{{ object.agent_id }}</p>
                <h4>Agent's title</h4>
                <p>{{ object.agent_title }}</p>
                <h4>Representative</h4>
                <p>{{ object.representative }}</p>
                <h4>Office Number(ext. personal)</h4>
                <p>{{ object.office_number }}</p>
                <h4>Country</h4>
                <p>{{ object.country }}</p>
                <h4>Email</h4>
                <p>{% if object.email %}{{ object.email }}{% else %}None{% endif %}</p>
            </div>
            <div class="col-md-4">
                <h4>Contact Person</h4>
                <p>{% if object.contact_person %}<a href="{{ object.contact_person.get_absolute_url }}">{{ object.contact_person.name }}</a>{% else %}None{% endif %}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4>Remarks</h4>
                <textarea rows="10" cols="100" readonly>{{ object.remarks }}</textarea>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row" >
          <div class="col-sm-4"><h5>Created at {{ object.created }}</h5></div>
          <div class="col-sm-4"><h5>Last update at {{ object.update }}</h5></div>
      </div>
      <h5>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
    </div>
    <!-- /.box-footer-->
</div>



{% endblock content %}
