{% extends "base.html" %}

{% block content_title %}Agent{% endblock %}

{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title text-blue">{{ object.agent_title }}</h3>
      <div class="pull-right">
          <a class="btn btn-warning" href="{% url "proposals:agent-update" object.agent_id %}" role="button">Update</a>
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Agent's ID</strong></td>
                        <td>{{ object.agent_id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Agent's title</strong></td>
                        <td>{{ object.agent_title }}</td>
                    </tr>
                    <tr>
                        <td><strong>Representative</strong></td>
                        <td>{{ object.representative }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>{% if object.email %}{{ object.email }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Office Number(ext. personal)</strong></td>
                        <td>{{ object.office_number }}</td>
                    </tr>
                    <tr>
                        <td><strong>Country</strong></td>
                        <td>{{ object.country }}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Person</strong></td>
                        <td>{% if object.contact_person %}<a href="{{ object.contact_person.get_absolute_url }}">{{ object.contact_person.name }}</a>{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Remarks</strong></div>
                  <div class="panel-body">
                    {{ object.remarks }}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row" >
          <div class="col-sm-4"><h5>Created at {{ object.created }}</h5></div>
          <div class="col-sm-4"><h5>Last update at {{ object.update }}</h5></div>
      </div>
      <h5>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
    </div>
    <!-- /.box-footer-->
</div>
{% endblock content %}
