{% extends "base.html" %}

{% block content_title %}Agent{% endblock %}


{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title text-blue">{{ object.agent_title }}</h3>
      <div class="pull-right">
          <a class="btn btn-warning" href="{% url "proposals:agent-update" object.agent_id %}" role="button">Update</a>
          {% if request.user == object.created_by  %}
          <button class="btn btn-danger" id="remove-object">Remove</button>
          <form action="{% url "proposals:agent-delete" %}" id="remove-form" method="post">
              {% csrf_token %}
              <input type="hidden" name="slug_field" value="{{ object.agent_id }}">
          </form>
          {% endif %}
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Agent's ID</strong></td>
                        <td>{{ object.agent_id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Agent's title</strong></td>
                        <td>{{ object.agent_title }}</td>
                    </tr>
                    <tr>
                        <td><strong>Country</strong></td>
                        <td>{{ object.country }}</td>
                    </tr>
                    <tr>
                        <td><strong>Address</strong></td>
                        <td>{% if object.address %}{{ object.address }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Beneficiary Name</strong></td>
                        <td>{% if object.beneficiary_name %}{{ object.beneficiary_name }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Remittance Bank</strong></td>
                        <td>{% if object.remittance_bank %}{{ object.remittance_bank }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Beneficiary A/C No.</strong></td>
                        <td>{% if object.beneficiary_no %}{{ object.beneficiary_no }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Contact Person's Name</strong></td>
                        <td>{% if object.contact_person_name %}{{ object.contact_person_name }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Person's Phone Number</strong></td>
                        <td>{% if object.contact_person_phone_number %}{{ object.contact_person_phone_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Person's Email</strong></td>
                        <td>{% if object.contact_person_email %}{{ object.contact_person_email }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Remarks</strong></div>
                  <div class="panel-body">
                    {{ object.remarks }}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
      <div class="row" >
          <div class="col-sm-4"><h5>Created at {{ object.created }}</h5></div>
          <div class="col-sm-4"><h5>Last update at {{ object.update }}</h5></div>
      </div>
      <h5>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
    </div>
</div>
{% endblock content %}
