{% extends "base.html" %}
{% load static %}

{% block title %}Client{% endblock %}
{% block content_title %}Client{% endblock %}

{% block css %}
  <style>
  #client-title{
  color: #2BB4B4;
  margin-top:0.8%;
  margin-bottom: 0;
}

  #client-box{
      border-top-color: #2DA4A4;
      width: 87%;
      margin: 0 auto;
  }


  .table.table-striped{
      border: 2px solid #f9f9f9;
  }

 .table-striped > tbody > tr:first-child >td{
     border-top: 2px solid #f9f9f9
 }

   .box-footer > h5:first-child{
      float:left;
      color: #777;
  }

  .box-footer > h5:first-child >a{
      color: #2BB4B4;
  }
  .box-footer > h5:first-child >a:hover{
      color: #2DA4A4;
  }
  .box-footer > h5:nth-child(2){
      float:right;
      color: #777;
  }

  .box-footer > h5:last-child{
      float:right;
      padding-right:3%;
      color: #777;
  }

  .panel-default{
      border: 2px solid #f9f9f9;
      border-radius: 0px;
      -webkit-box-shadow: none;
              box-shadow: none;
  }
  .panel-default .panel-body{
      border-top-color: #f9f9f9;
      border-top-width: 2px;
  }

  .panel-default > .panel-heading {
      background-color: #f9f9f9;
      padding: 8px;
      border-bottom: 1px solid #f9f9f9;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

   }
</style>
{% endblock css %}
{% block content %}
<div id="client-box" class="box box-info">
    <div class="box-header with-border">
      <h3 id="client-title" class="box-title ">{{ object.client_ch_name }}</h3>
      <div class="pull-right">
          <a class="btn btn-default" href="{% url "proposals:inventor-create" %}?client_id={{ object.client_id }}" role="button">Create Inventor</a>
          {% if request.user == object.created_by  %}
          <a class="btn btn-warning" href="{% url "proposals:client-update" object.client_id %}" role="button">Update</a>
          <button class="btn btn-danger" id="remove-object">Remove</button>
          <form action="{% url "proposals:client-delete" %}" id="remove-form" method="post">
              {% csrf_token %}
              <input type="hidden" name="slug_field" value="{{ object.client_id }}">
          </form>
          {% endif %}
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Client ID</strong></td>
                        <td>{{ object.client_id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Client name in abbreviated form</strong></td>
                        <td>{{ object.abbr_client }}</td>
                    </tr>
                    <tr>
                        <td><strong>Client Chinese name</strong></td>
                        <td>{{ object.client_ch_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Client English name</strong></td>
                        <td>{{ object.client_en_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Country</strong></td>
                        <td>{{ object.country }}</td>
                    </tr>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>{% if object.status %}{{ object.status }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Post Office Address</strong></td>
                        <td>{{ object.post_address }}</td>
                    </tr>
                    <tr>
                        <td><strong>English Address</strong></td>
                        <td>{% if object.english_address %}{{ object.english_address }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Invoice(Application form) address</strong></td>
                        <td>{% if object.invoice_address %}{{ object.invoice_address }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone Number</strong></td>
                        <td>{{ object.phone_number }}</td>
                    </tr>
                    <tr>
                        <td><strong>Fax Number</strong></td>
                        <td>{% if object.fax_number %}{{ object.fax_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>VAT No.</strong></td>
                        <td>{{ object.vat_no }}</td>
                    </tr>
                    <tr>
                        <td><strong>Number of employees</strong></td>
                        <td>{{ object.number_employee_template }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Contact Person's Name</strong></td>
                        <td>{% if object.contact_person_name %}{{ object.contact_person_name }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Person's Title</strong></td>
                        <td>{% if object.contact_person_title %}{{ object.contact_person_title }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Person's Phone Number</strong></td>
                        <td>{% if object.contact_person_phone_number %}{{ object.contact_person_phone_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Person's Email</strong></td>
                        <td>{% if object.contact_person_email %}{{ object.contact_person_email }}{% else %}None{% endif %}</td>
                    </tr>

                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Representative's Chinese name</strong></td>
                        <td>{{ object.repr_chinese_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Representative's English name</strong></td>
                        <td>{{ object.repr_english_name }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Primary owner</strong></td>
                        <td>{{ object.primary_owner }}</td>
                    </tr>
                    <tr>
                        <td><strong>Secondary owner</strong></td>
                        <td>{% if object.secondary_owner %}{{ object.secondary_owner }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Remarks</strong></div>
                  <div class="panel-body">
                    {{ object.remarks }}
                  </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h3> <small>Inventor</small></h3>
                <hr>
                <table id="list_table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Chinese name</th>
                  <th>English name</th>
                  <th>Country</th>
                </tr>
                </thead>
                <tbody>
                {% for inventor in inventor_list %}
                <tr>
                  <td><a href="{{ inventor.get_absolute_url }}">{{ inventor.chinese_name }}</a></td>
                  <td><a href="{{ inventor.get_absolute_url }}">{{ inventor.english_name }}</a></td>
                  <td>{{ inventor.country }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <h5 ><br/>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
        <h5 >Created:<br/> {{ object.created }}</h5>
        <h5 >Last updated:<br/>{{ object.update }}</h5>
    </div>
</div>
{% endblock content %}
