{% extends "base.html" %}
{% load static %}

{% block content_title %}Client{% endblock %}

{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title text-blue">{{ object.client_ch_name }}</h3>
      <div class="pull-right">
          <a class="btn btn-warning" href="{% url "proposals:client-update" object.client_id %}" role="button">Update</a>
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Client ID</strong></td>
                        <td>{{ object.client_id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Client name in abbreviated form</strong></td>
                        <td>{{ object.abbr_client }}</td>
                    </tr>
                    <tr>
                        <td><strong>Client Chinese name</strong></td>
                        <td>{{ object.client_ch_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Client English name</strong></td>
                        <td>{{ object.client_en_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Country</strong></td>
                        <td>{{ object.country }}</td>
                    </tr>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>{% if object.status %}{{ object.status }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Post Office Address</strong></td>
                        <td>{{ object.post_address }}</td>
                    </tr>
                    <tr>
                        <td><strong>English Address</strong></td>
                        <td>{% if object.english_address %}{{ object.english_address }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Invoice(Application form) address</strong></td>
                        <td>{% if object.invoice_address %}{{ object.invoice_address }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone Number</strong></td>
                        <td>{{ object.phone_number }}</td>
                    </tr>
                    <tr>
                        <td><strong>Fax Number</strong></td>
                        <td>{% if object.fax_number %}{{ object.fax_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>VAT No.</strong></td>
                        <td>{{ object.vat_no }}</td>
                    </tr>
                    <tr>
                        <td><strong>Number of employees</strong></td>
                        <td>{{ object.number_employee_template }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Contact Person's Name</strong></td>
                        <td>{% if object.contact_person_name %}{{ object.contact_person_name }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Person's Title</strong></td>
                        <td>{% if object.scontact_person_title %}{{ object.contact_person_title }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Person's Phone Number</strong></td>
                        <td>{% if object.contact_person_phone_number %}{{ object.contact_person_phone_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Contact Person's Email</strong></td>
                        <td>{% if object.contact_person_email %}{{ object.contact_person_email }}{% else %}None{% endif %}</td>
                    </tr>

                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Representative's Chinese name</strong></td>
                        <td>{{ object.repr_chinese_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Representative's English name</strong></td>
                        <td>{{ object.repr_english_name }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Primary owner</strong></td>
                        <td>{{ object.primary_owner }}</td>
                    </tr>
                    <tr>
                        <td><strong>Secondary owner</strong></td>
                        <td>{% if object.secondary_owner %}{{ object.secondary_owner }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Remarks</strong></div>
                  <div class="panel-body">
                    {{ object.remarks }}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row" >
          <div class="col-sm-4"><h5>Created at {{ object.created }}</h5></div>
          <div class="col-sm-4"><h5>Last update at {{ object.update }}</h5></div>
      </div>
      <h5>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
    </div>
    <!-- /.box-footer-->
</div>


{% endblock content %}
