{% extends "base.html" %}

{% block content_title %}Contact Person{% endblock %}

{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title text-blue">{{ object.name }}</h3>
      <div class="pull-right">
          <a class="btn btn-warning" href="{% url "proposals:contact_person-update" object.pk %}" role="button">Update</a>
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Title</strong></td>
                        <td>{{ object.title }}</td>
                    </tr>
                    <tr>
                        <td><strong>English Title</strong></td>
                        <td>{{ object.english_title }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone Number</strong></td>
                        <td>{% if object.phone_number %}{{ object.phone_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>{% if object.email %}{{ object.email }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Remarks</strong></div>
                  <div class="panel-body">
                    {{ object.remarks }}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row" >
          <div class="col-sm-4"><h5>Created at {{ object.created }}</h5></div>
          <div class="col-sm-4"><h5>Last update at {{ object.update }}</h5></div>
      </div>
      <h5>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
    </div>
    <!-- /.box-footer-->
</div>



{% endblock content %}
