{% extends "base.html" %}
{% load static %}

{% block content_title %}Employee{% endblock %}

{% block css %}
  <style>
  #employee-title{
  color: #2BB4B4;
  margin-top:0.8%;
  margin-bottom: 0;
}

  #employee-box{
      border-top-color: #2DA4A4;
      width: 87%;
      margin: 0 auto;
  }

  .table.table-striped{
      border: 2px solid #f9f9f9;
  }

 .table-striped > tbody > tr:first-child >td{
     border-top: 2px solid #f9f9f9
 }

   .box-footer > h5:first-child{
      float:left;
      color: #777;
  }

  .box-footer > h5:first-child >a{
      color: #2BB4B4;
  }
  .box-footer > h5:first-child >a:hover{
      color: #2DA4A4;
  }
  .box-footer > h5:nth-child(2){
      float:right;
      color: #777;
  }

  .box-footer > h5:last-child{
      float:right;
      padding-right:3%;
      color: #777;
  }

  .panel-default{
      border: 2px solid #f9f9f9;
      border-radius: 0px;
      -webkit-box-shadow: none;
              box-shadow: none;
  }
  .panel-default .panel-body{
      border-top-color: #f9f9f9;
      border-top-width: 2px;
      padding:8px;
      min-height: 36px;
  }
  .panel-default .panel-body >ul{
      margin-bottom:0px;

  }

  .panel-default > .panel-heading {
      background-color: #f9f9f9;
      padding: 8px;
      border-bottom: 1px solid #f9f9f9;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

   }
</style>
{% endblock css %}

{% block content %}
<div id="employee-box" class="box box-info">
    <div class="box-header with-border">
      <h3 id="employee-title" class="box-title ">{{ object.chinese_name }}</h3>
      <div class="pull-right">
          <a class="btn btn-warning" href="{% url "proposals:employee-update" object.pk %}" role="button">Update</a>
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Employee ID</strong></td>
                        <td>{{ object.employee_id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Chinese Name</strong></td>
                        <td>{{ object.chinese_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>English Name</strong></td>
                        <td>{{ object.english_name }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>ID Number</strong></td>
                        <td>{% if object.id_number %}{{ object.id_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Gender</strong></td>
                        <td>{{ object.gender_template }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>{{ object.email }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Home Phone Number</strong></td>
                        <td>{% if object.home_number %}{{ object.home_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Mobile Number</strong></td>
                        <td>{% if object.mobile_number %}{{ object.mobile_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Office Number</strong></td>
                        <td>{% if object.office_number %}{{ object.office_number }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>County/City</strong></td>
                        <td>{% if object.county %}{{ object.county }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Address</strong></td>
                        <td>{% if object.address %}{{ object.address }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Engagement Date</strong></td>
                        <td>{{ object.engagement_date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Title ID</strong></td>
                        <td>}{{ object.title_id_template }}</td>
                    </tr>
                    <tr>
                        <td><strong>Spouse Name</strong></td>
                        <td>{% if object.spouse_name %}{{ object.spouse_name }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Education</strong></div>
                  <div class="panel-body">
                     {{ object.education }}
                  </div>
                </div>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Experience</strong></div>
                  <div class="panel-body">
                     {{ object.experience }}
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Remarks</strong></div>
                  <div class="panel-body">
                    {{ object.remarks }}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <h5 ><br/>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
        <h5 >Created:<br/>{{ object.created }}</h5>
        <h5 >Last updated:<br/>{{ object.update }}</h5>
    </div>
    <!-- /.box-footer-->
</div>
{% endblock content %}
