{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Employee{% endblock %}
{% block content_title %}Create New Employee{% endblock %}

{% block css %}
    <style>

    .form-group{
        margin-bottom:10px;
        width:46%;
    }

    .form_wrap{
        display:flex;
        flex-direction:row;
    }

    .form_wrap > .form-group:nth-child(2){
        margin-left:5%;
    }


    input.form-control{
        background-color: #ffffff;
    }
    .box{
        width: 90%;
        margin: 0 auto;
        background: #ffffff;
        padding: 30px;
        border-top-color: #2DA4A4;
    }

     @media screen and (max-width: 767px){
        .box{
            width: 95%;
            margin: 0 auto;
            padding: 15px;
        }

        .form_wrap{
            display:block;
        }
        .form-group{
            width:100%;
        }
        .form_wrap > .form-group:nth-child(2){
            margin-left:0;
        }
    }

    </style>
{% endblock css %}
{% block content %}
    <div class="box">
     {% crispy form %}
    </div>
{% endblock %}

