{% extends "base.html" %}
{% load static %}
{% block title %}Inventor{% endblock %}
{% block content_title %}Inventor{% endblock %}


{% block css %}
<style>
#inventor-title{
    color: #2BB4B4;
    margin-top:0;
    margin-bottom: 2px;
    font-size:25px;
}
#inventor-box{
    border-top-color: #2DA4A4;
    width: 83.333333%;
    margin: 0 auto;
}
.table.table-striped{
    border: 2px solid #f9f9f9;
}
.table-striped > tbody > tr:first-child >td{
    border-top: 2px solid #f9f9f9
}
.box-footer > h5{
     float:left;
     color: #777;
}
.box-footer > h5 >a{
     color: #2BB4B4;
}
.box-footer > h5 >a:hover{
     color: #2DA4A4;
}
.box-footer > .create-time{
    float:right;
    display:flex;
}
.box-footer > .create-time >  h5 {
    color: #777;
}
.box-footer > .create-time > h5:first-child {
    margin-right: 10px;
}
.panel-default{
     border: 2px solid #f9f9f9;
     border-radius: 0px;
     -webkit-box-shadow: none;
     box-shadow: none;
}
.panel-default .panel-body{
     border-top-color: #f9f9f9;
     border-top-width: 2px;
     padding:8px;
     min-height: 36px;
}
.panel-default .panel-body >ul{
     margin-bottom:0px;
}
.panel-default > .panel-heading {
     background-color: #f9f9f9;
     padding: 8px;
     border-bottom: 1px solid #f9f9f9;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
}
.option-line{
   float:right;
   padding-left:5px;
   position:relative;
   top:5px;
}
.option-line > a {
   border-right: 1px solid #f4f4f5;
   margin-right:5px;
   padding-right:5px;
}
.option-line > a:first-child{
    padding-left:10px;
    border-left:1px solid #f4f4f5;
}
@media screen and (max-width: 767px){
    #inventor-box{
        width: 91.666667%;
   }
}
@media screen and (max-width: 490px){
    .option-line{
        float:none;
        text-align:center;
    }
    #inventor-title{
        display:block;
        text-align: center;
    }
    .box-footer > h5,
    .box-footer > .create-time{
        float: none;
        position: relative;
    }
    .box-footer > h5{
        margin-top:0;
        top: -10px;
        margin-bottom:0;
        text-align: center;
    }
    .box-footer > .create-time{
        top:-5px;
        justify-content:center;
        text-align:center
    }
}
</style>
{% endblock css %}

{% block content %}
<div id="inventor-box" class="box box-info">
    <div class="box-header with-border">
      <h3 id="inventor-title" class="box-title ">{{ object.chinese_name }}</h3>
      <div class="option-line">
          {% if request.user == object.created_by  %}
          <a href="{% url "proposals:inventor-update" object.pk %}" role="button">Update</a>
          <a id="remove-object">Remove</a>
          <form action="{% url "proposals:inventor-delete" %}" id="remove-form" method="post">
              {% csrf_token %}
              <input type="hidden" name="slug_field" value="{{ object.pk }}">
          </form>
          {% endif %}
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Chinese name</strong></td>
                        <td>{{ object.chinese_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>English name</strong></td>
                        <td>{{ object.english_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Client</strong></td>
                        <td><a href="{{ object.client.get_absolute_url }}">{{ object.client }}</a></td>
                    </tr>
                    <tr>
                        <td><strong>ID Number</strong></td>
                        <td>{% if object.id_number %}{{ object.id_number }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>{% if object.email %}{{ object.email }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Country</strong></td>
                        <td>{{ object.country }}</td>
                    </tr>
                    <tr>
                        <td><strong>Post Office Address</strong></td>
                        <td>{{ object.post_address }}</td>
                    </tr>
                    <tr>
                        <td><strong>English Address</strong></td>
                        <td>{{ object.english_address }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone Number</strong></td>
                        <td>{{ object.phone_number }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Remarks</strong></div>
                  <div class="panel-body">
                    {{ object.remarks }}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <h5><br/>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
        <div class="create-time">
            <h5>Created:<br/>{{ object.created }}</h5>
            <h5>Last updated:<br/>{{ object.update }}</h5>
        </div>
    </div>
</div>


{% endblock content %}
