{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load user_agents %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Your Patents</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="list_table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Case ID</th>
                  <th>Chinese Title</th>
                  <th>English Title</th>
                  <th>Control Date</th>
                  <th>Deadline</th>
                  {% if request|is_pc %}
                  <th>Case status</th>
                  <th>Client</th>
                  <th>Local Agent</th>
                  <th>Country</th>
                  {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for patent in object_list %}
                <tr>
                  <td><a href="{{ patent.get_absolute_url }}">{{ patent.case_id }}</a></td>
                  <td><a href="{{ patent.get_absolute_url }}">{{ patent.chinese_title }}</a></td>
                  <td>{{ patent.english_title }}</td>
                  <td>{{ patent.control_date}}</td>
                  <td>{{ patent.deadline}}</td>
                  {% if request|is_pc %}
                  <td>{{ patent.case_status_template }}</td>
                  <td>{{ patent.client.abbr_client }}</td>
                  <td>{{ patent.local_agent.agent_title }}</td>
                  <td>{{ patent.country }}</td>
                  {% endif %}
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>
{% endblock content %}

