{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Patent{% endblock %}
{% block content_title %}Create New Application{% endblock %}

{% block css %}
 <style>
 .form-group{
     margin-bottom:10px;
 }

 input.form-control{
    background-color: #ffffff;
 }
 .box{
      width: 75%;
      margin: 0 auto;

      background: #ffffff;
      padding: 15px;
      border-top-color: #2DA4A4;
  }

 </style>
{% endblock css %}



{% block content %}

    <div class="box">
        {% crispy form %}
    </div>


{% endblock content %}


{% block javascript %}
<script src="{% static "js/patent-create.js" %}"></script>
<script src="{% static "js/render-select2.js" %}"></script>
<script>
$(document).ready(function(){
    var s = $("#id_client").find('option[selected="selected"]').attr("value");
    if(s===undefined || s==="-1"){
        $("#id_inventor").prop("disabled", true);
    }
    $("#id_client").on("select2:select", function(e){
        $("#id_inventor").prop("disabled", false);
    });
})
</script>
{% endblock %}
