{% extends "base.html" %}
{% load static %}

{% block title %}Application{% endblock %}
{% block content_title %}Application{% endblock %}
{% block css %}
<style>
#patent-title{
    color: #2BB4B4;
    margin-top:0;
    margin-bottom:2px;
    font-size:22px;
}
#patent-box{
    border-top-color: transparent;
    width: 83.333333%;
    margin: 0 auto;
}
#patent-box table{
    table-layout:fixed;
}
#patent-box > .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.table.table-striped{
    border: 2px solid #f9f9f9;
}
.table-striped > tbody > tr:first-child >td{
    border-top: 2px solid #f9f9f9
}
.box-footer > h5{
    float:left;
    color: #777;
}
.box-footer > h5 >a{
    color: #2BB4B4;
}
.box-footer > h5 >a:hover{
    color: #2DA4A4;
}
.box-footer > .create-time{
    float:right;
    display:flex;
}
.box-footer > .create-time >  h5 {
color: #777;
}

.box-footer > .create-time > h5:first-child {
    margin-right: 10px;
}

.panel-default{
    border: 2px solid #f9f9f9;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-default .panel-body{
    border-top-color: #f9f9f9;
    border-top-width: 2px;
    padding:8px;
    min-height: 36px;
}
.panel-default .panel-body >ul{
    margin-bottom:0px;
}
.panel-default > .panel-heading {
    background-color: #f9f9f9;
    padding: 8px;
    border-bottom: 1px solid #f9f9f9;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.option-line{
   float:right;
   position:relative;
   top:5px;
}
.option-line > a {
   border-right: 1px solid #f4f4f5;
   margin-right:5px;
   padding-right:5px;
}
.option-line > a:first-child{
    padding-left:10px;
    border-left:1px solid #f4f4f5;
}
@media screen and (max-width: 767px){
    #patent-box{
        width: 91.666667%;
   }
}
@media screen and (max-width: 490px){
   .option-line{
       float:none;
       padding-left:5px;
       position:relative;
       top:5px;
       text-align:center;
   }
   #patent-title{
       display:block;
       text-align: center;
     }
    .box-footer > h5,
    .box-footer > .create-time{
        float: none;
        position: relative;
    }
    .box-footer > h5{
        margin-top:0;
        top: -10px;
        margin-bottom:0;
        text-align:center
    }
    .box-footer > .create-time{
        top:-5px;
        justify-content:center;
        text-align:center
    }
}
</style>
{% endblock css %}

{% block content %}
<div id="patent-box" class="box box-info">
    <div class="box-header with-border">
      <h3 id="patent-title" class="box-title ">{{ object.case_id }}</h3>
      <div class="option-line">
          <a href="{% url "proposals:patent-create" %}?other_country=true&case_id={{ object.case_id }}" role="button">Apply for other countries</a>
          {% if object.created_by == request.user %}
          <a  href="{% url "proposals:patent-update" object.case_id %}" role="button">Update</a>
          <a  id="remove-object">Remove</a>
          <form action="{% url "proposals:patent-delete" %}" id="remove-form" method="post">
              {% csrf_token %}
              <input type="hidden" name="slug_field" value="{{ object.case_id }}">
          </form>
          {% endif %}
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Case ID</strong></td>
                        <td>{{ object.case_id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Chinese Title</strong></td>
                        <td>{{ object.chinese_title }}</td>
                    </tr>
                    <tr>
                        <td><strong>English Title</strong></td>
                        <td>{{ object.english_title }}</td>
                    </tr>
                    <tr>
                        <td><strong>Case Status</strong></td>
                        <td>{% if object.case_status %}{{ object.case_status_template }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Application Type</strong></td>
                        <td>{% if object.application_type_template %}{{ object.application_type_template }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Country</strong></td>
                        <td>{{ object.country }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    {% for person in object.inventor.all %}
                        <tr>
                            <td><strong>Inventor({{ forloop.counter }})</strong></td>
                            <td><a href="{{ person.get_absolute_url }}">{{ person.chinese_name }}</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td><strong>No inventor in this list.</strong></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>Agent</strong></td>
                        <td>{% if object.agent %}<a href="{{ object.agent.get_absolute_url }}">{{ object.agent.agent_title }}</a>{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Agent Ref. No.</strong></td>
                        <td>{% if object.agent_ref_no %}{{ object.agent_ref_no }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>

        <div class="row">

            <div class="col-md-6">
                {% for event in object.control_event.all %}
                {% if object.created_by == request.user %}
                <div class="pull-right">
                    <a class="btn btn-xs btn-warning" href="{% url "proposals:control-event-update" event.pk %}">Update</a>
                    <button class="btn btn-xs btn-danger remove-objects" form_id="#remove-form-{{ forloop.counter }}">Remove</button>
                    <form action="{% url "proposals:control-event-delete" %}" id="remove-form-{{ forloop.counter }}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="slug_field" value="{{ event.pk }}">
                    </form>
                </div>
                {% endif %}
                <table class="table table-striped">
                <tbody>
                <tr>
                    <td><strong>Control Item({{ forloop.counter }})</strong></td>
                    <td>{{ event.control_item_template }}</td>
                </tr>
                <tr>
                    <td><strong>Control Date({{ forloop.counter }})</strong></td>
                    <td>{{ event.control_date|date:"SHORT_DATE_FORMAT" }}</td>
                </tr>
                <tr>
                    <td><strong>Deadline({{ forloop.counter }})</strong></td>
                    <td>{{ event.deadline|date:"SHORT_DATE_FORMAT" }}</td>
                </tr>
                <tr>
                    <td><strong>Complete Date({{ forloop.counter }})</strong></td>
                    <td>{% if event.complete_date %}{{ event.complete_date|date:"SHORT_DATE_FORMAT" }}{% else %}None{% endif %}</td>
                </tr>
                {% if event.remarks %}
                <tr>
                    <td><strong>Remarks({{ forloop.counter }})</strong></td>
                    <td>{{ event.remarks }}</td>
                </tr>
                {% endif %}
                </tbody>
                </table>
                {% if not forloop.last %}
                <hr>
                {% endif %}
                {% empty %}
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>No control event yet.</strong></td>
                    </tr>
                </tbody>
                </table>
                {% endfor %}
                <a href="{% url "proposals:control-event-create"%}?case_id={{ object.case_id }}" class="btn btn-xs btn-info">Create New Control Event</a>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Application No.</strong></td>
                        <td>{% if object.application_no %}{{ object.application_no }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Filing Date</strong></td>
                        <td>{{ object.filing_date|date:"SHORT_DATE_FORMAT" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Request Examination</strong></td>
                        <td>{% if object.request_examination %}{{ object.request_examination }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Date of request examination</strong></td>
                        <td>{% if object.examination_date %}{{ object.examination_date }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Publication Date</strong></td>
                        <td>{% if object.publication_date %}{{ object.publication_date|date:"SHORT_DATE_FORMAT" }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Publication No.</strong></td>
                        <td>{% if object.publication_no %}{{ object.publication_no }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Date of preliminary decision</strong></td>
                        <td>{% if object.pre_decision_date %}{{ object.pre_decision_date|date:"SHORT_DATE_FORMAT" }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Preliminary decision No.</strong></td>
                        <td>{% if object.pre_decision_no %}{{ object.pre_decision_no}}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Date of re-examination</strong></td>
                        <td>{% if object.re_examine_date %}{{ object.re_examine_date|date:"SHORT_DATE_FORMAT" }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Number of description pages</strong></td>
                        <td>{% if object.description_pages %}{{ object.description_pages }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Number of drawing pages</strong></td>
                        <td>{% if object.drawing_pages %}{{ object.drawing_pages }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Number of figures</strong></td>
                        <td>{% if object.figures_number %}{{ object.figures_number }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Date of patent</strong></td>
                        <td>{% if object.patent_date %}{{ object.patent_date|date:"SHORT_DATE_FORMAT" }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Patent No.</strong></td>
                        <td>{% if object.patent_no %}{{ object.patent_no }}{% else %}None{% endif %}</td>
                    </tr>
                    {% if object.country == "US" %}
                    <tr>
                        <td><strong>Final Patent Term.</strong></td>
                        <td>{% if object.final_patent_term %}{{ object.final_patent_term|date:"SHORT_DATE_FORMAT" }}{% else %}None{% endif %}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td><strong>Patent Term.</strong></td>
                        <td>{% if object.patent_term %}{{ object.patent_term|date:"SHORT_DATE_FORMAT" }}{% else %}None{% endif %}</td>
                    </tr>
                    {% endif %}
                    {% if object.country == "US" %}
                    <tr>
                        <td><strong>Extended Days (days)</strong></td>
                        <td>{% if object.extended_days %}{{ object.extended_days }}{% else %}None{% endif %}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Certificate No.</strong></td>
                        <td>{% if object.certificate_no %}{{ object.certificate_no }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Priority</strong></td>
                        <td>{{ object.priority }}</td>
                    </tr>
                    {% if object.priority == "yes" %}
                    <tr>
                        <td><strong>(Priority) Country</strong></td>
                        <td>{{ object.prio_country }}</td>
                    </tr>
                    <tr>
                        <td><strong>(Priority) Application No.</strong></td>
                        <td>{{ object.prio_application_no }}</td>
                    </tr>
                    <tr>
                        <td><strong>(Priority) Filing Date</strong></td>
                        <td>{{ object.prio_filing_date|date:"SHORT_DATE_FORMAT" }}</td>
                    </tr>
                    {% endif %}
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>File-holder position</strong></td>
                        <td>{% if object.file_holder_position %}{{ object.file_holder_position }}{% else %}None{% endif %}</td>
                    </tr>
                    {% if object.country == "US" %}
                    <tr>
                        <td><strong>IDS Information</strong></td>
                        <td>{% if object.IDS_information %}{{ object.IDS_information }}{% else %}None{% endif %}</td>
                    </tr>
                    {% endif %}
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Files</strong></div>
                  <div class="panel-body">
                    <ul id="files-list">
                        {% csrf_token %}
                        {% for file in object.files.all %}
                        <li>
                            <a href="{{ file.file_url }}" download > {{ file.filename }}</a>
                            {% if request.user == object.created_by  %}
                            <button class="btn btn-xs btn-danger pull-right file-remove" pk="{{ file.pk }}" delete_url="{% url "files:files-delete" %}">
                                <span class="fa fa-trash-o"></span>
                                Remove
                            </button>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% if request.user == object.created_by  %}
                    <br>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                              <th>
                                  <label class="btn btn-success btn-xs" for="fileupload">
                                      <input style="display:none;" id="fileupload" type="file" name="files" upload_url="{% url "proposals:file_upload" %}" object_type="patent" pk="{{ object.pk }}" multiple>
                                      <span class="fa fa-upload"></span>
                                      Upload files
                                  </label>
                              </th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody id="files-queue">
                        </tbody>
                    </table>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Remarks</strong></div>
                  <div class="panel-body">
                    {{ object.remarks }}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <h5><br/>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
        <div class="create-time">
            <h5>Created:<br/>{{ object.created }}</h5>
            <h5>Last updated:<br/> {{ object.update }}</h5>
        </div>

    </div>
</div>
{% endblock content %}
