{% extends "base.html" %}
{% load static %}

{% block content_title %}Patent{% endblock %}


{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title text-blue">{{ object.case_id }}</h3>
      <div class="pull-right">
          <a class="btn btn-warning" href="{% url "proposals:patent-update" object.case_id %}" role="button">Update</a>
      </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Case ID</strong></td>
                        <td>{{ object.case_id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Chinese Title</strong></td>
                        <td>{{ object.chinese_title }}</td>
                    </tr>
                    <tr>
                        <td><strong>English Title</strong></td>
                        <td>{{ object.english_title }}</td>
                    </tr>
                    <tr>
                        <td><strong>Application Type</strong></td>
                        <td>{{ object.application_type }}</td>
                    </tr>
                    <tr>
                        <td><strong>Country</strong></td>
                        <td>{{ object.country }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Control Date</strong></td>
                        <td>{{ object.control_date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Deadline</strong></td>
                        <td>{{ object.deadline }}</td>
                    </tr>
                    <tr>
                        <td><strong>Filing Date</strong></td>
                        <td>{{ object.filing_date }}</td>
                    </tr>
                    <tr>
                        <td><strong>Case Status</strong></td>
                        <td>{{ object.case_status_template }}</td>
                    </tr>
                    <tr>
                        <td><strong>Control Item</strong></td>
                        <td>{{ object.control_item_template }}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Application No.</strong></td>
                        <td>{% if object.application_no %}{{ object.application_no }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Publication Date</strong></td>
                        <td>{% if object.publication_date %}{{ object.publication_date }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Publication No.</strong></td>
                        <td>{% if object.publication_no %}{{ object.publication_no }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Date of patent</strong></td>
                        <td>{% if object.patent_date %}{{ object.patent_date }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Patent No.</strong></td>
                        <td>{% if object.patent_no %}{{ object.patent_no }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Date of preliminary decision</strong></td>
                        <td>{% if object.pre_decision_date %}{{ object.pre_decision_date }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Preliminary decision No.</strong></td>
                        <td>{% if object.pre_decision_no %}{{ object.pre_decision_no}}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Date of re-examination</strong></td>
                        <td>{% if object.re_examine_date %}{{ object.re_examine_date}}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Number of description pages</strong></td>
                        <td>{% if object.description_pages %}{{ object.description_pages }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Number of drawing pages</strong></td>
                        <td>{% if object.drawing_pages %}{{ object.drawing_pages }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Number of figures</strong></td>
                        <td>{% if object.figures_number %}{{ object.figures_number }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Request Examination</strong></td>
                        <td>{% if object.request_examination %}{{ object.request_examination }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Date of request examination</strong></td>
                        <td>{% if object.examination_date %}{{ object.examination_date }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Patent Term.</strong></td>
                        <td>{% if object.patent_term %}{{ object.patent_term }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Certificate No.</strong></td>
                        <td>{% if object.certificate_no %}{{ object.certificate_no }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Priority</strong></td>
                        <td>{{ object.priority }}</td>
                    </tr>
                    {% if object.priority == "yes" %}
                    <tr>
                        <td><strong>(Priority) Country</strong></td>
                        <td>{{ object.prio_country }}</td>
                    </tr>
                    <tr>
                        <td><strong>(Priority) Application No.</strong></td>
                        <td>{{ object.prio_application_no }}</td>
                    </tr>
                    <tr>
                        <td><strong>(Priority) Filing Date</strong></td>
                        <td>{{ object.prio_filing_date }}</td>
                    </tr>
                    {% endif %}
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>File-holder position</strong></td>
                        <td>{% if object.file_holder_position %}{{ object.file_holder_position }}{% else %}None{% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>IDS Information</strong></td>
                        <td>{% if object.IDS_infomation %}{{ object.IDS_infomation }}{% else %}None{% endif %}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Owner</strong></td>
                        <td>{{ object.owner }}</td>
                    </tr>
                    <tr>
                        <td><strong>Local Agent</strong></td>
                        <td><a href="{{ object.local_agent.get_absolute_url }}">{{ object.local_agent.agent_title }}</a></td>
                    </tr>
                    <tr>
                        <td><strong>Foreign Agent</strong></td>
                        <td><a href="{{ object.foreign_agent.get_absolute_url }}">{{ object.foreign_agent.agent_title }}</a></td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Inventor</strong></div>
                  <div class="panel-body">
                    <ul>
                    {% for person in object.inventor.all %}
                        <li>
                            <p><a href="{{ person.get_absolute_url }}">{{ person.chinese_name }}</a></p>
                        </li>
                    {%endfor %}
                    </ul>
                  </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Client Info</strong></div>
                  <div class="panel-body">
                    <ul>
                      <li>
                          <h5>Client's ref. No.</h5>
                          <p><a href="{{ object.client.get_absolute_url }}">{{ object.client.client_id }}</a></p>
                      </li>
                      <li>
                          <h5>Client name in abbreviated form</h5>
                          <p><a href="{{ object.client.get_absolute_url }}">{{ object.client.abbr_client }}</a></p>
                      </li>
                      <li>
                          <h5>Client Chinese Name</h5>
                          <p><a href="{{ object.client.get_absolute_url }}">{{ object.client.client_ch_name }}</a></p>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Remarks</strong></div>
                  <div class="panel-body">
                    {{ object.remarks }}
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row" >
          <div class="col-sm-4"><h5>Created at {{ object.created }}</h5></div>
          <div class="col-sm-4"><h5>Last update at {{ object.update }}</h5></div>
      </div>
      <h5>Created by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h5>
    </div>
    <!-- /.box-footer-->
</div>


{% endblock content %}
