{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="box box-danger box-solid">
    <div class="box-body">
        <h4>{% trans 'Are you sure you want to sign out?' %}</h4>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
        </form>
    </div>
    </div>
</div>
</div>



{% endblock %}

