{% extends "base.html" %}
{% block title %}File{% endblock %}
{% block content_title %}File{% endblock %}
{% load file_extension_filter %}

{% block css %}
<style>
.file-image-box .box-header > h3{
    color: #2BB4B4;
    font-size:26px;
    margin-bottom:25px;
}
.file-image-box .box-header{
    display:inline-block;
    margin-left: 15px;
    width: 500px;
    word-wrap: break-word;

}
.file-image-box .box-header > a{
    cursor:pointer;
}
.file-detail-box{
    width:95%;
    margin:0 auto;
    min-height:400px;
}
.option-line > h4  {
    display:inline-block;
    margin-right:20px;
}
.download{
 padding: 5px 15px;
    border: 1px solid #2DA4A4;
    background-color:#2DA4A4;
    color:white;
    border-radius:3px;
    margin-right:10px;
}
.download:hover,
.download:active,
.download:focus{
    color:white;
}
.option-line > a:first-child:hover{
   position:relative;
   bottom:3px;
   background-color:#39CCCC;
   border-color:#39CCCC;
}
.file-image-box  img{
    height:85px;
}
.image-box{
   overflow:hidden;
   display:inline-block;
   vertical-align:text-bottom;
}
.file-image-box{
    width:70%;
    margin:0 auto;
    padding:10px 10px 15px 40px;
    background-color:white
}
.file-info-box{
    width:70%;
    margin:0 auto;
    padding:20px 10px 20px 130px;
    background-color:white;
}
.file-info-box > h4{
    color: #77777780;
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
    border-left: 1px solid #f4f4f4;
    padding-left: 20px;
}
.file-info-box >h4 >a{
    color:#2DA4A4;
}
.file-info-box >h4 >a:hover{
    color:#39CCCC;
}
@media screen and (max-width: 767px){

.file-detail-box{
    width:100%;
}
.file-image-box,
.file-info-box{
    width:90%;
}
}
@media screen and (max-width: 490px){
.file-image-box,
.file-info-box{
    width:90%;
}
.file-info-box{
 padding:20px 10px 20px 40px;
}

.file-info-box > h4 {
    display:inherit;
}
.image-box{
   display:inherit;
  text-align:center;
   padding-top:20px;
}
.file-image-box{
 padding:10px 10px 15px 10px;
}
.file-image-box .box-header{
    padding-top:5px;
    display:inherit;
    text-align:center;
    font-size:16px;
    word-wrap:break-word;
}
.download{
    margin-right:30px;

}
}
</style>
{% endblock css %}



{% block content %}
        <div class="file-detail-box">

            <section class="file-image-box">
                <div class="image-box">
                    <img src="/static/img/{{ object.filename| get_extension }}.svg">
                </div>
                <div class="box-header">
                   <h3 >{{ object.filename }}</h3>
                   <a class="download" href="{{ object.file_url }}" download>Download <span class="fa fa-download "></span></a>
                   {% if request.user == object.created_by  %}
                    <a id="remove-object">Remove</a>
                        <form action="{% url "files:files-delete" %}" id="remove-form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="slug_field" value="{{ object.pk }}">
                        </form>
                  {% endif %}
               </div>
            </section>
            <section class="file-info-box">
              <h4>File Size {{ object.file.size|get_filesize}}</h4>
               <h4>Attached to <a href="{{ object.content_object.get_absolute_url }}">{{ object.related_object_name }}</a></h4>
               <h4 >Shared by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by.username }}</a></h4>
               <h4 >Shared on {{ object.created|date:"Y/n/j" }}</h4>
            </section>
        </div>
{% endblock content %}
